@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

body{
    background-color: black;
}

*{
    padding: 0 0;
    margin: 0 0;
  }

  
::-webkit-scrollbar {
  width: 10px;
  background-color: black;
}

::-webkit-scrollbar-thumb {
  background-color:black;
  border-radius: 15px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: antiquewhite;
}


.navbar{
  width: auto;
  height: 8vh;
  padding: 0px 10%;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid whitesmoke;
  font-size: 17px;

  display: flex;
  justify-content: space-between;
}

.middlebar ul{
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.middlebar ul li{
  display: inline-block;
}
.navbar a{
  margin: 15px;
  padding: 0 0 4px 0;
  text-decoration: none;
  color: whitesmoke;
  position: relative;
  transition: 0.5s ease;
}

.navbar button{
  margin: 15px;
  padding: 0 0 4px 0;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: whitesmoke;
  position: relative;
}


.navbar #music:hover{
  color: #656A7B;
  box-shadow: 0 2px 0 0 currentColor;
}
.navbar a:hover{
  color: #656A7B;
  box-shadow: 0 2px 0 0 currentColor;
}

.link{
  float: right;
}
.logo{
  float: left;
}
#language span{
  padding: 0 0 4px 0;
}

#language span:hover{
  color: #656A7B;
}

.music{
  display: inline-block;
  line-height: 6vh;
  width: 10vw;
  height: 8vh;
}

.music button{
    border: transparent;
    color: whitesmoke;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}

.music button:hover{
  color: #656A7B;
}

#music span{
    color: #656A7B;
}

#music i{
    color: red;
    text-decoration: none;
}


@media only screen and (max-width: 767px) {
    #main-content{
      display: none;
    }
    body{
      background-color: black;
      color: whitesmoke;
    }
    #error-message{
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
      width: auto;
  
    }
    #error-message h4{
      color: whitesmoke;
      font-size: 14px;
      font-family: "Poppins", sans-serif;
    }
  }

  
.timeline ul {
  background: #456990;     /*#656a7b*/
  padding: 50px 0;
}

.timeline ul li {
  list-style-type: none;
  position: relative;
  width: 6px;
  margin: 0 auto;
  padding-top: 50px;
  background: #fff;
}

.timeline ul li::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: inherit;
  z-index: 1;
}

.timeline ul li div {
  position: relative;
  bottom: 0;
  width: 400px;
  padding: 15px;
  background: #f45b69;
}

.timeline ul li div::before {
  content: "";
  position: absolute;
  bottom: 7px;
  width: 0;
  height: 0;
  border-style: solid;
}

.timeline ul li:nth-child(odd) div {
  left: 45px;
}

.timeline ul li:nth-child(odd) div::before {
  left: -15px;
  border-width: 8px 16px 8px 0;
  border-color: transparent #f45b69 transparent transparent;
}

.timeline ul li:nth-child(even) div {
  left: -439px;
}

.timeline ul li:nth-child(even) div::before {
  right: -15px;
  border-width: 8px 0 8px 16px;
  border-color: transparent transparent transparent #f45b69;
}

time {
  display: block;
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}


/* EFFECTS
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul li::after {
  transition: background 0.5s ease-in-out;
}

.timeline ul li.in-view::after {
  background: #f45b69;
}

.timeline ul li div {
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}

.timeline ul li:nth-child(odd) div {
  transform: translate3d(200px, 0, 0);
}

.timeline ul li:nth-child(even) div {
  transform: translate3d(-200px, 0, 0);
}

.timeline ul li.in-view div {
  transform: none;
  visibility: visible;
  opacity: 1;
}


/* GENERAL MEDIA QUERIES
–––––––––––––––––––––––––––––––––––––––––––––––––– */

@media screen and (max-width: 900px) {
  .timeline ul li div {
    width: 250px;
  }
  .timeline ul li:nth-child(even) div {
    left: -289px;
    /*250+45-6*/
  }
}

@media screen and (max-width: 600px) {
  .timeline ul li {
    margin-left: 20px;
  }
  .timeline ul li div {
    width: calc(100vw - 91px);
  }
  .timeline ul li:nth-child(even) div {
    left: 45px;
  }
  .timeline ul li:nth-child(even) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent #f45b69 transparent transparent;
  }
}
