@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);    
@import url(https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic);

*{
    padding: 0 0;
    margin: 0 0;
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE 10+ */
    user-select: none; 
    
}

body{
  font-family: "Poppins", sans-serif;
  background-color: black;
  overflow-x: hidden;
  overflow-y: hidden;

}

::-webkit-scrollbar{
  display: none;
}
.navbar{
  width: auto;
  height: 8vh;
  padding: 0px 10%;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid whitesmoke;
  font-size: 17px;

  display: flex;
  justify-content: space-between;
}

.middlebar ul{
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.middlebar ul li{
  display: inline-block;
}
.navbar a{
  margin: 15px;
  padding: 0px;
  text-decoration: none;
  color: whitesmoke;
  position: relative;
  transition: 0.25s ease;
}

.navbar button{
  margin: 15px;
  text-decoration: none;
  border: none;
  background-color: black;
  color: whitesmoke;
  position: relative;
}


.navbar #music:hover{
  color: #656A7B;
  box-shadow: 0 2px 0 0 currentColor;
}
.navbar a:hover{
  color: #656A7B;
  box-shadow: 0 2px 0 0 currentColor;
}

.link{
  float: right;
}
.logo{
  float: left;
}
#language span{
  padding: 0 0 4px 0;
}

#language{
  background-color: transparent;
}
#language span:hover{
  color: #656A7B;
}

.music{
  background-color: transparent;
  display: inline-block;
  line-height: 6vh;
  width: 10vw;
  height: 8vh;
}

.music button{
    background-color: transparent;
    color: whitesmoke;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}

.music button:hover{
  color: #656A7B;
}

#music span{
    color: #656A7B;
}

#music i{
    color: red;
    text-decoration: none;
}


.Slider{
  height: 100vh;
  width: 100vw;
}

.mark{
  height: 20px;
  width: 20px;
  border-radius: 15px;
  background-color: white;
  position: absolute;
  top: 0;
  left: -12px;
  
}

.Projects{
  margin: 5% 0 0 0;
  width: 90vw;
  height: 100vh;
  z-index: 2;
  position: absolute;
  left: 15vw;
  border-left: 3px solid white;
}


.title1{
  font-family: "Poppins", sans-serif;
  font-weight: 200;
  color: white;
  font-size: 3vh;
  padding: 0 0 0 40px;
}

.tit{
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: white;
  font-size: 3.5vh;
  padding:0 0 0px 40px;
}

.under{
  color: #656a7b;
  font-size: 40vh;
  font-family: 'Space Mono', monospace;
  position: absolute;
  left: 55vw;
  top: 0;
  z-index: -1;
}

.wrapper {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  transform: translateX(-10%)translateY(2%);
}

.card {
  position: relative;
  height: 20vh;
  width: 25vw;
  padding: 40px;
  transform-style: preserve-3d;
}

.card .title {
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  position: relative;
  z-index: 2;
  font-size: 4vh;
  width: fit-content;
  transform: translatex(-50%);
  border-bottom: 2px solid white;
}

.card .credits {
  font-family: 'Poppins', sans-serif;
  color: whitesmoke;
  font-size: 2vh;
  letter-spacing: 0.05em;
  transform: translatex(-70%);
  border-bottom: 2px solid white;
  width: min-content;
  padding: 0 0 10px 0;
}

.card p{
  color: white;
  font-size: 3vh;
  transform: translatex(-14%);
}

.card .bg {
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-image: url(Autres/Portfolioweb.png) ;
  background-size: cover;
  background-position: center;
}
