@import url(https://fonts.googleapis.com/css?family=Montserrat:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Indie+Flower:regular);
@import url(https://fonts.googleapis.com/css?family=Lobster:regular);
@import url(https://fonts.googleapis.com/css?family=Rubik:300,regular,500,600,700,800,900,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

*{
  padding: 0 0;
  margin: 0 0;
  transition: 0.5s ease;
}

body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: hidden;
    background-color: black;
    -webkit-user-select: none; /* Safari */ 
    -moz-user-select: none; /* Firefox */ 
    -ms-user-select: none; /* IE 10+ */ 
    user-select: none;
    
}

::-webkit-scrollbar {
    width: 10px;
    background-color: black;
}
  
::-webkit-scrollbar-thumb {
    background-color:black;
    border-radius: 15px;
}
  
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: antiquewhite;
}



.navbar{
  width: auto;
  height: 8vh;
  padding: 0px 10%;
  font-family: "Poppins", sans-serif;
  border-bottom: 2px solid whitesmoke;
  font-size: 17px;

  display: flex;
  justify-content: space-between;
}

.middlebar ul{
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

.middlebar ul li{
  display: inline-block;
}
.navbar a{
  margin: 15px;
  padding: 0 0 4px 0;
  text-decoration: none;
  color: whitesmoke;
  position: relative;
  transition: 0.5s ease;
}

.navbar button{
  margin: 15px;
  padding: 0 0 4px 0;
  text-decoration: none;
  border: none;
  background-color: transparent;
  color: whitesmoke;
  position: relative;
}


.navbar #music:hover{
  color: #656A7B;
  box-shadow: 0 2px 0 0 currentColor;
}
.navbar a:hover{
  color: #656A7B;
  box-shadow: 0 2px 0 0 currentColor;
}

.link{
  float: right;
}
.logo{
  float: left;
}
#language span{
  padding: 0 0 4px 0;
}

#language span:hover{
  color: #656A7B;
}

.music{
  display: inline-block;
  line-height: 6vh;
  width: 10vw;
  height: 8vh;
}

.music button{
    border: transparent;
    color: whitesmoke;
    font-size: 17px;
    font-family: "Poppins", sans-serif;
}

.music button:hover{
  color: #656A7B;
}

#music span{
    color: #656A7B;
}

#music i{
    color: red;
    text-decoration: none;
}

.slide1{
    height: 90vh;
    width: 100vw;
    display: flex;
    flex-direction: row-reverse;
}

.left1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
  width: 60vw;
  padding: 0 9%;
}

.right1{
  height: 90vh;
  width: 40vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.right1 img{
    height: auto;
    width: 65%;
}
.container {
  display: flex;
  flex-direction: column;
  height: fit-content;
  margin: 0;
  overflow: hidden;
}

.container h2{
    font-family: 'Space Mono', monospace;
    font-size: 50px;
    color: white;
    transition: color 0.3s ease-in-out;
}

.wrapper{
    display: inline-flex;
}

#word-display{
  font-family: 'Space Mono', monospace;
  font-size: 50px;
  color: #656a7b;
  transition: color 0.3s ease-in-out;
  margin-left: 4%;

}


.left1 h4{
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-size: 20px;
    font-weight: 200;
    padding: 10px 0;
    margin: 2vh 0;
}

#mmm a{
  color: white;
}

.twobuttons{
  margin: 2vh 0;
  display: inline-flex;
  gap: 3vw;
  height: auto;
  width: auto;
}

.twobuttons button a{
  text-decoration: none;
  color: black;
  
}

.Call{
  padding: 15px;
  border-radius: 20px;
  display: inline-flex;
  gap: 10px;
  background-color: whitesmoke;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  text-decoration: none;
}

.CV{
  padding: 15px;
  border-radius: 20px;
  background-color: whitesmoke;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 18px;
  display: inline-flex;
  gap: 10px;
  text-decoration: none;
}
.CV span{
  padding: 0 0;
}


@media only screen and (max-width: 850px) {
  body{
    background-color: black;
    color: whitesmoke;
  }
  .navbar{
    width: auto;
    height: 6vh;
    padding: 5px 40px;
    font-family: "Poppins", sans-serif;
    border-bottom: 2px solid whitesmoke;
    font-size: 13px;

    display: flex;
    justify-content: space-between;
  }
  .navbar a{
    margin: 10px;
    padding: 10px;
    text-decoration: none;
    color: whitesmoke;
    position: relative;
    transition: 0.25s ease;
  }
  
  .navbar button{
    margin: 10px;
    text-decoration: none;
    border: none;
    background-color: black;
    color: whitesmoke;
    position: relative;
  }
  
  
  .navbar #music:hover{
    color: #ffc300;
    box-shadow: 0 2px 0 0 currentColor;
  }
  .navbar a:hover{
    color: #ffc300;
    box-shadow: 0 2px 0 0 currentColor;
  }

  .link span{
    margin: 0px;
  }

  .link{
    color: black;
  }

  .right{
    display: flex;
    flex-wrap: wrap;
  }
  .music button{
    width: 5vw;
      border: none;
      color: whitesmoke;
      font-size: 13px;
      font-family: "Poppins", sans-serif;
  }
  
  .music button:hover{
    color: #ffc300;
  }
  
  #music span{
      color: green;
  }
  
  #music i{
      color: red;
      text-decoration: none;
  }

  #chekc{
    padding: 5px;
    background-color: aliceblue;
  }

  .checkbtn{
      display: block;
  }
  .middlebar ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: whitesmoke;
    top: 6vh;
    left: -100%;
    text-align: center;
    transition: all .5s;
    }
    nav ul li{
      display: block;
      margin: 50px 0;
    }
    nav ul li a{
      font-size: 20px;
      color: black ;
    }
    a:hover,a.active{
      background: none;
      box-shadow: 0 2px 0 0 currentColor;
      color: #ffc300;
    }
    
  .comeback{
    left: 0;
  }

  .comeback1{
    left: -100%;
  }

  .slide1{
    background-color:black;
    height: 70vh;
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 2fr 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;  
}

.left1{
  height: 90vh;
  width: 65vw;
  padding: 0 5%;
  margin: 0 0;
  grid-area: 1 / 1 / 2 / 2;
}

.right1{
  height: 90vh;
  width: 30vw;
  display: flex;
  align-items: flex-start;
  grid-area: 1 / 2 / 2 / 3;
}

.right1 img{
    margin-top: 150%;
    height: auto;
    width: 65%;
}

.left1 h1{
  color: #fff;
  font-size: 30px;
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  padding: 0 0;
  margin: 0 0;
}

.wrapper {
    display: inline-flex;
    gap: 20px;
    font-family: "Montserrat", sans-serif;

}
.wrapper .static-txt {
    color: #fff;
    font-size: 30px;
}

.wrapper .static-txt span {
  display: block;
}

.wrapper .dynamic-txts {
    display: none;
}
.left1 h4{
    color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 200;
    padding: 10px 0;
    display: none;
}

.descriptif{
  display: block;
  color: whitesmoke;
    font-family: "Poppins", sans-serif;
    font-size: 10px;
    font-weight: 200;
    padding: 10px 0;
    grid-area: 2 / 1 / 3 / 3;
}
 
.boutton{
  margin: 2vh 0;
  display: inline-flex;
  gap: 3vw;
  height: auto;
  width: auto;
}

.boutton span{
  width: auto;
  height: 10px;
}

.Call{
  padding: 10px;
  border-radius: 20px;
  display: inline-flex;
  gap: 5px;
  background-color: whitesmoke;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  text-decoration: none;
}

.CV{
  padding: 10px;
  border-radius: 20px;
  background-color: whitesmoke;
  color: black;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-size: 12px;
  display: inline-flex;
  gap: 5px;
  text-decoration: none;
}
.CV span{
  padding: 0 0;
}
}